@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap&subset=cyrillic');

:root{
  --color-yellow: rgba(200, 155, 35, 0.8);
  --text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8);
  --transition: all 0.4s ease 0s

}

HTML{
  font-family: 'Fira Mono', sans-serif; font-size: 10px;
  /*hyphens: auto*/
}

Body{ font-size: 1.4em }


Body > Main{ display: flex; justify-content: center; align-items: center }

Body > Main > Section,
Body > Main > Article{ padding-top: 1rem; padding-bottom: 1rem }



@media all and (max-width: 320px){

}